:root {
  --yellow: rgb(244, 208, 78);
  --gray-950: rgb(17, 17, 17);
  --gray-500: rgb(107, 107, 107);
  --white: rgb(255, 255, 255);
}

html,
body {
  height: 100%;
}

body {
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 522px;
  width: 384px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}

.image-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin-top: 1.5rem;
}

.illustration-img {
  border-radius: 10px;
}

.description-container {
  margin: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.topic {
  background-color: var(--yellow);
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 1rem;
  color: var(--gray-950);
}

.date {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 14px;
}

.title {
  font-size: 24px;
  font-weight: bolder;
  line-height: 150%;
  letter-spacing: 0;
  margin: 12px 0 12px 0;
}

.description {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-500);
  margin: 0;
}

.author-container {
  display: flex;
  gap: 12px;
  margin: 1.5rem;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
}

.fullname {
  color: var(--gray-950);
  font-weight: bolder;
  font-size: 14px;
}
